<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf75XdPUqT29NVhSgq7Blxs6U03b9sMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>337744526151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calzaturavilchez.calzaturaVilchezMobile</string>
	<key>PROJECT_ID</key>
	<string>calzaturavilchez-ab17f</string>
	<key>STORAGE_BUCKET</key>
	<string>calzaturavilchez-ab17f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:337744526151:ios:adde262e67f91bc36baa62</string>
</dict>
</plist>
